nodered/flow-example.json
[
  {
    "id": "inject_every_1min",
    "type": "inject",
    "z": "flow1",
    "name": "Every 1 minute",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 100,
    "wires": [
      [
        "http_get_ports"
      ]
    ]
  },
  {
    "id": "http_get_ports",
    "type": "http request",
    "z": "flow1",
    "name": "Get ether1 status",
    "method": "GET",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "http://librenms:8000/api/v0/devices/192.168.56.10/ports",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "sendsession": false,
    "x": 360,
    "y": 100,
    "wires": [
      [
        "function_extract"
      ]
    ],
    "headers": [
      {
        "keyType": "other",
        "keyValue": "X-Auth-Token",
        "valueType": "other",
        "valueValue": "your-api-token-here"
      }
    ]
  },
  {
    "id": "function_extract",
    "type": "function",
    "z": "flow1",
    "name": "Extract ether1 data",
    "func": "// Extract ports from response\nconst ports = msg.payload.ports;\n\n// Find ether1\nconst ether1 = ports.find(p => p.ifName === 'ether1');\n\nif (!ether1) {\n    node.error('ether1 not found', msg);\n    return null;\n}\n\n// Create message for MQTT\nmsg.payload = {\n    timestamp: new Date().toISOString(),\n    interface: ether1.ifName,\n    status: ether1.ifOperStatus,\n    adminStatus: ether1.ifAdminStatus,\n    speed: ether1.ifSpeed / 1000000,\n    mtu: ether1.ifMtu,\n    macAddress: ether1.ifPhysAddress,\n    statistics: {\n        inOctets: ether1.ifInOctets || 0,\n        outOctets: ether1.ifOutOctets || 0,\n        inPackets: ether1.ifInUcastPkts || 0,\n        outPackets: ether1.ifOutUcastPkts || 0,\n        inErrors: ether1.ifInErrors || 0,\n        outErrors: ether1.ifOutErrors || 0\n    }\n};\n\n// Set MQTT topic\nmsg.topic = 'mikrotik/ether1/status';\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 590,
    "y": 100,
    "wires": [
      [
        "mqtt_out",
        "debug_output"
      ]
    ]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "flow1",
    "name": "Publish to MQTT",
    "topic": "",
    "qos": "0",
    "retain": "true",
    "respTopic": "",
    "contentType": "",
    "broker": "mqtt_broker",
    "x": 840,
    "y": 80,
    "wires": []
  },
  {
    "id": "debug_output",
    "type": "debug",
    "z": "flow1",
    "name": "Debug output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 140,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "mosquitto",
    "port": "1883",
    "clientid": "",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willPayload": "",
    "willMsg": {},
    "sessionExpiry": ""
  }
]
